USE [master]
GO
/****** Object:  Database [Opiskelijat]    Script Date: 30/03/2023 11.19.09 ******/
CREATE DATABASE [Opiskelijat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Opiskelijat', FILENAME = N'C:\Users\vilbo\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Opiskelijat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Opiskelijat_log', FILENAME = N'C:\Users\vilbo\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Opiskelijat.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Opiskelijat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Opiskelijat]
GO
USE [Opiskelijat]
GO
/****** Object:  Table [dbo].[Opiskelija]    Script Date: 30/03/2023 11.19.10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opiskelija](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nimi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpiskelijanRyhma]    Script Date: 30/03/2023 11.19.10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpiskelijanRyhma](
	[OpiskelijaId] [int] NOT NULL,
	[RyhmaId] [int] NOT NULL,
 CONSTRAINT [PK_OpiskelijanRyhma] PRIMARY KEY CLUSTERED 
(
	[OpiskelijaId] ASC,
	[RyhmaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ryhma]    Script Date: 30/03/2023 11.19.10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ryhma](
	[Id] [int] NOT NULL,
	[Nimi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OpiskelijanRyhma]  WITH CHECK ADD  CONSTRAINT [FK_OpiskelijanRyhma_RyhmaId] FOREIGN KEY([OpiskelijaId], [RyhmaId])
REFERENCES [dbo].[OpiskelijanRyhma] ([OpiskelijaId], [RyhmaId])
GO
ALTER TABLE [dbo].[OpiskelijanRyhma] CHECK CONSTRAINT [FK_OpiskelijanRyhma_RyhmaId]
GO
USE [master]
GO
